/**/
*{
    font-family: 'Comfortaa', cursive;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(117, 117, 117);
}

#map{
    cursor: crosshair;
    z-index: 0;
    height: 450px;
    width: 100%;
    top: 0;
    position: relative;
}